/****Card****/
.flex-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-top:60px;
}

.flex-item {
  align-self: auto;
  padding: 8px;
  width: 300px;
  min-height: 280px;
  border: 1px solid rgb(166, 166, 166);
  margin: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.message-container {
}

.row-button {
  width: 100%;
}

.text-container {
  margin-top: 40px;
  margin-bottom: 20px;
  word-wrap: break-word;
}
