<div class="ls-topbar">
  <!-- Barra de Notificações -->
  <div class="ls-notification-topbar">

    <!-- Dropdown com detalhes da conta de usuário -->
    <%= render 'application/navbar/user' %>
  </div>

  <span class="ls-show-sidebar ls-ico-menu"></span>

  <h1 class="ls-brand-name">
    <a href="#" class="ls-ico-earth">
      Cupons
    </a>
  </h1>

</div>

<aside class="ls-sidebar">
  <div class="ls-sidebar-inner">
    <nav class="ls-menu">
      <ul>
        <li class="ls-active" >
          <%= link_to 'Home', promotions_path %>
        </li>
        <%= current_user.new_promotion_link %>
        <%= current_user.new_product_link %>
      </ul>
    </nav>
  </div>
</aside>
